RewriteEngine On

<IfModule mod_charset.c>
  CharsetRecodeMultipartForms off
</IfModule>

# <IfModule mod_php5.c>
# <IfModule mod_fcgid.c>
php_value register_globals off


RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^panel/(.+)$ core/admin.php?module=$1 [S=9,L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^panel(/)?$ core/admin.php [S=9,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^api\..+ /core/api.php [L]

RewriteCond %{REQUEST_URI} ^/index.php [OR]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !^/panel
RewriteRule .* core/view.php [L,QSA]



