/* Login page */
#auth-form{
  text-align: center;
  width: 310px;
  height: 149px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -75px 0 0 -155px;
}
#auth-form input{
  margin: 5px 0px;
  width: 300px;
}
#auth-form button{
  width: 153px;
}
#auth-form hr{
  margin: 6px 0px;
}


legend{
  margin-bottom: 0px;
}