body {
	padding-top: 60px;
	padding-bottom: 10px;
}

.content-header{
	margin: 0;
	padding: 0;
}

.form-content{
	padding-top: 18px;
	height: 462px;
	overflow: hidden;
	overflow-y: auto;
}

.form-actions{
	margin: 0px;
	padding: 10px 10px 0px;
	text-align: left;
	background-color: transparent;
}

legend .info{
	float: right;
	font-size: 50%;
}





.tree {
  overflow: hidden;
  padding: 0;
	margin-bottom: 10px;
}
.tree header {
  padding: 3px;
  background: #fafafa;
  border-bottom: 1px solid #EEE;
}

a.quiTreeContainer,
a.quiTreeContainer:hover {
  position: relative;
  display: block;
  cursor: default;
  overflow: auto;

  height: 100%;

  color: #08C;
  text-decoration: none;
}
.quiTree {
  position: absolute;
  width: 100%;
  bottom: 0;
  top: 25px;
  overflow: auto;
}
.quiTreeBTN {
  display: none;
}

.tree-dragged-clone-node {
  position: absolute;
  z-index: 1024;

  filter: alpha(opacity=80);
  opacity: 0.8;
}

.quiArrowTree {
  position: absolute;

  /* [class^="icon-"], [class*=" icon-"] */
  width: 14px;
  height: 14px;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../img/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}
.folder-open .quiArrowTree {
  /* .icon-folder-open */
  background-position: -408px -120px;
}
.folder .quiArrowTree {
  /* .icon-folder-close */
  background-position: -384px -120px;
}
.file .quiArrowTree {
  /* .icon-file */
  background-position: -24px -24px;
}

.tree ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.tree ul li {
  position: relative;
  z-index: 100;
  margin: 0px;
  padding: 0px;
  padding-left: 10px;
}


.tree ul li.quiLineTree {
  margin: -1px 0 0;
  height:	3px;
}
.quiLineTreehover {
  background: #bbb;
}

.quiIconTree {
  margin-left: 14px;
  padding-left: .4em;
}

.tree ul li a.active .control {
  display: block;
}
.tree li a .control {
  float: right;
  display: none;
  margin-right: 10px;
}

.tree ul li .quiTreeNode {
  margin: 0px;
  padding: 0px;
  padding: 3px;
  padding-left: 5px;
  margin-left: -10px;
  display: block;
}

.tree ul li .quiTreeNode.active {
  background: #69a;
  color: #fff;
}
.tree li .quiTreeNode:hover,
.tree li .quiTreeNode.hover {
  /* .tree li a:hover */
  background-color: #eee;
}
.tree li .quiTreeNode.active:hover,
.tree li .quiTreeNode.active.hover {
  /* .tree li a:hover */
  background-color: #7ab;
}

.tree .quiTreeContainer.focus ul li .quiTreeNode.active {
  background: #08c;
  color: #fff;
}
.tree .quiTreeContainer.focus li .quiTreeNode:hover,
.tree .quiTreeContainer.focus li .quiTreeNode.hover {
  /* .tree li a:hover */
  background-color: #eee;
}
.tree .quiTreeContainer.focus li .quiTreeNode.active:hover,
.tree .quiTreeContainer.focus li .quiTreeNode.active.hover {
  /* .tree li a:hover */
  background-color: #19d;
}



.searchContainer{
	height: 0px;
}
.search{
	padding: 3px;
	background: #f5f5f5;
	margin: -45px 17px 20px 1px;
	position: absolute;
	z-index: 30;
}
	.search input{
		width: 201px;
	}
	.search form{
		margin: 0px;
	}

.tree-container .buttons button{
	width: 100%;
}

.edit-form{
	margin-bottom: 0px;
}

.span4-5{
	width: 410px;
}
.span2-5{
	width: 220px;
}

.table380px{
	margin: 0 20px;
	width: 380px;
}
.width14{
	width: 14px;
}
.width28{
	width: 28px;
}
.float-right{
	float: right;
}
.float-left{
	float: left;
}
.model.form-actions{
	padding-right: 20px;
	text-align: right;
}
.modal .form-content{
	height: auto;
}


#settingsTable small{
	font-size: 80%;
}

i.control{
	cursor: pointer;
}

#editor{
	width: 870px;
	height: 400px;
	position: absolute;
	padding: 0px;
}

#top-bar{
	width: 1170px;
}
#components-template{
	display: none;
}

.plupload-container{
	width: 670px;
}
.plupload_container{
	padding: 0px !important;
}

.image-input{
	width: 640px;
}
.image-preview{
	max-height: 28px;
	width: auto;
}


#alert-block{
	position: absolute;
	top: 50px;
	right: 20px;
	width: 350px;
	z-index: 1000000;
}

/**
 * Tree sortable helpers
 */
.tree li .title{
	white-space: nowrap;
	position: relative;
	z-index: 10;
}
.tree li .control{
	margin-top: -18px;
	background-color: #eee;
	position: relative;
	z-index: 20;
}
.tree li .active .control{
	background-color: #08c;
}
.ui-sortable-highlight {
	height: 24px;
	line-height: 1.2em;
	background-color: #ddd;
}
.ui-sortable-helper{
	opacity: 0.5;
}
	.ui-sortable-helper .control{
		display: none !important;
	}


/**
 * Confirm modal
 */
#confirm-modal{
	display: none;
}


/**
 * Create content modal
 */
#content-create-modal{
	display: none;
}



/**
 * Search place
 */
.searchContainer{
	display: none;
}
#search-button{
	display: none;
}

.ta-right{
	text-align: right !important;
}

.tselect-settings{
	margin-bottom: 0;
}

#TImageSettings{
	width: 760px;
	margin-left: -380px;
}

#TImageSettings table input{
	margin-bottom: 0;
}

#TImageSettings input{
	width: 100px;
	margin-bottom: 0px;
}
#TImageSettings select{
	width: 155px;
	margin-bottom: 0px;
}
#TImageSettings .ta-center{
	text-align: center;
}
#TImageSettings .controlField{
	width: 110px;
}
.timage-psevdo{
	width: 110px;
}
.timage-width{
	width: 110px;
}
.timage-height{
	width: 110px;
}
.timage-resize{
	width: 155px;
}
.timage-address{

}

#settings input{
	margin-bottom: 0px;
}

legend{
	margin-bottom: 0px;
}

.redactor_editor{
	width: 637px;
}